
:host{
    display: flex;
    flex: 1;
}
.slide {
    flex: 1;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
}

.caption {
    padding: 2rem;
    background-color: rgba(0, 0, 0, .5);
}