.dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .dot {
        border-radius: 5px;
        cursor: pointer;
        margin: 1rem .5rem;
        display: inline-block;
        background-color: grey;
        border: 1px solid black;
        padding: .5rem;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

